
body {
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    height: 100%;
    margin: 0;
    top: 0;
    position: absolute; 
}

.app-page{
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    height: 800px;
    width: 100%;
    background: #0c4a60;
}
#root {
    width: 100%;
}
.navbar-container{
    position: fixed;
    background-color: white; 
    height: 69px;
    width: 100%;
    z-index: 30;
    box-sizing: border-box;
    display: flex;
    align-items: center; 
    top: 0;
    right: 0;
    left: 0;
    border-bottom: 1px solid black; 
}

.navbar-header{
    display: flex;
    width: 80%;
    margin: 0 auto;
    flex-direction: row;
    align-items: center;
    /* flex-wrap: wrap;  */
}

.app-link{
    text-decoration: none;
}

.app-logo{
    height: 68px;
    background: white; 
    border-bottom: 1px solid black;
}

.app-name{
    color: black; 
    display: inline-block; 
    width: max-content; 
    flex-basis: 100%;
    text-align: center;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    /* font-weight: 100;   */
    /* position: absolute; */
}

.left-navbar{
    flex: 1;
}

.link-buttons{
    flex: 1;
    position: absolute;
    right: 10%
}

.link-buttons-logged-in{
    flex: 1;
    position: absolute;
    right: 10%;
    margin-bottom: 10px; 
}

.sign-up{
    text-decoration: none; 
    width: 140px;
    height: 30px;
    line-height: 30px;
    text-align: left;
    font: 12px/1.4 "Lucida Grande","Lucida Sans Unicode","Lucida Sans",Garuda,Verdana,Tahoma,sans-serif; 
    background-color: black; 
    border: 1px solid white;
    border-radius: 5px;
    color: #ccc;
    padding: 10px 18px;
    margin-right: 10px;
}

.log-in{
    text-decoration: none; 
    width: 140px;
    height: 30px;
    line-height: 30px;
    font: 12px/1.4 "Lucida Grande","Lucida Sans Unicode","Lucida Sans",Garuda,Verdana,Tahoma,sans-serif;
    align-self: left; 
    background-color: #111;
    border: none;
    border: 1px solid white;
    border-radius: 5px;
    color: #ccc;
    padding: 10px 16px;
}

.log-out{
    text-decoration: none; 
    width: 140px;
    height: 100%;
    line-height: 30px;
    font: 12px/1.4 "Lucida Grande","Lucida Sans Unicode","Lucida Sans",Garuda,Verdana,Tahoma,sans-serif;
    align-self: left; 
    background-color: #111;
    border: none;
    border: 1px solid white;
    border-radius: 5px;
    color: #ccc;
    padding: 10px 18px;
    /* float: right;  */
}

.question-button-background{
    width: 80%;  
    max-width: 1280px;
    margin: 0 auto;
    background: white; 
}

.question-button-container{
    margin-top: 69px;
    height: 120px;
    background: white;
    position: relative; 
    border: 1px solid black; 
    border-top: none; 
}

.button-container{
    height: 100%;
    width: 50%;
    display: flex;
    flex-direction: row;
    justify-content: center; 
    margin: 0 auto;
    align-items: center; 
}

.left-button{
    display: flex;
    width: 52%; 
    justify-content: center; 
}

.right-button{
    display: flex;
    width: 50%;
    justify-content: center; 
}
.wyr-button{
    width: max-content;
    padding: 20px;
    background: #3bb4c1;
    border: 1px solid white; 
    border-radius: 5px;
    color: white;
    font-family: times; 
    font: 14px/1.4 "Lucida Grande","Lucida Sans Unicode","Lucida Sans",Garuda,Verdana,Tahoma,sans-serif;
    text-align: center; 
    transition: .3s;
    cursor: pointer; 
    
}

.wyr-button:hover{
    background: #048998;
}

.rfdb-button{
    width: max-content;
    padding: 20px;
    background: #3bb4c1;
    border: 1px solid white; 
    border-radius: 5px;
    color: white;
    font-family: times; 
    font: 14px/1.4 "Lucida Grande","Lucida Sans Unicode","Lucida Sans",Garuda,Verdana,Tahoma,sans-serif;
    text-align: center; 
    transition: .3s;
    cursor: pointer; 
}

.rfdb-button:hover{
    background: #048998;
}

.greeting-logged-in{
    font-size: 14px;
    margin: 0;
}